# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=file:./db.sqlite

# Next Auth (populate secret from some online next auth secret generator)
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# put in oath github app credentials
GITHUB_ID=
GITHUB_SECRET=

NEXT_PUBLIC_TRACKS_SERVER=http://localhost:8080
